2ºano/1ºsemestre/pei/trabalho/Pei Work/API/schemas/IncendiosSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.wildfirestats.pt/schema"
    elementFormDefault="qualified">

    <xs:element name="WildfireStats">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Ocorrencia" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="codigo_incendio" type="xs:integer"/>
                            <xs:element name="data_inicio" type="xs:string"/>
                            <xs:element name="duracao_horas" type="xs:decimal"/>
                            <xs:element name="estado" type="xs:string"/>
                            <xs:element name="id_localizacao" type="xs:integer"/>
                            <xs:element name="id_causa" type="xs:integer"/>
                            <xs:element name="areas">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="total" type="xs:decimal"/>
                                        <xs:element name="povoamento" type="xs:decimal"/>
                                        <xs:element name="mato" type="xs:decimal"/>
                                        <xs:element name="agricola" type="xs:decimal"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>